
bootstrap/cache/services.php

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/storage

vendor/**/test*
vendor/**/tests*
vendor/**/Tests*

**/*node_modules

**.git
.idea
**.gitignore
**.gitattributes
**.sass-cache

*.config.js
?ulpfile.js
?untfile.js
phpspec.yml

Dockerfile
docker-compose.yml
docker-compose-prod.yml
run
run.ps1
.devcontainer
.dockerignore
docker/php/*
docker/nginx/Dockerfile
